.social {
    display: flex;
    width: 325px;
    justify-content: space-between;
    align-items: center;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border: 1px solid var(--white);
        border-radius: 100%; 
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: rgba(119, 124, 244, 0.2);

        }
    }
}