.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    grid-area: header;
    div {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;
        h1 {
            color: #FFF;
            font-size: 1.75rem;
            line-height: 42px;
        }
        h2 {
            color: var(--neutral-500);
            font-size: 1.25rem;
            font-style: italic;
            font-weight: 400;
            line-height: 30px;
        }
    }
    img {
        border-radius: 24px;
    }

    @media (min-width: 768px) {
        flex-direction: row-reverse;
        align-items: center;
        gap: 2rem;
        div {
            h1 {
                font-size: 2.25rem;
                line-height: 54px;
            }
            h2 {
                font-size: 1.8rem;
                font-style: normal;
                line-height: 45px;
            }
        }
        img {
            width: 221px;
            border-radius: 100%;
            border: 2px solid var(--white)
        }
    }
}

