.container {
    padding: 40px 20px;
    display: grid;
    justify-items: center;
    gap: 24px;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "header"
    "contact"
    "experience"
    "info";
    margin: 0 auto;

   
    
}

@media (min-width: 1080px) {
    .container {
        padding: 70px 60px;
        height: 100vh;
        grid-template-rows: fit-content(100%);
        grid-template-columns: 70% 30%;
        align-items: center;
        justify-items: start;
        justify-content: space-between;
        grid-template-areas: 
        "header info"
        "experience contact";
        
         max-width: 1400px;


    }
}