:root {
  --background: #2C2C2C;
  --white: #fff;
  --neutral-500: #B3B3B3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: var(--white);
}

body {
  background-color: var(--background);
}